@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0B0B0B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: auto;
  height: 20%;
}

.App {
  background-color: #0B0B0B;
  min-height: 100vh;
  gap: 2rem;
}

.typing-text {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-family: 'Rubik Maze', serif;
  font-weight: 200;
}

.social-icons {
  display: flex;
  gap: 2.5rem;  /* Space between icons */
  margin-bottom: 2rem;  /* Vertical spacing around the icon section */
}

.social-icons a {
  color: white;  /* Icon color - adjust if needed */
  transition: color 0.3s ease;  /* Smooth color transition for hover effect */
}

/* Optional: add hover effect */
.social-icons a:hover {
  color: #d6d6d6;  /* Color when hovering - adjust to your preference */
}

/* Adjust the icon size */
.social-icons svg {
  width: 0.7em !important;  /* Adjust this value to resize icons */
  height: 0.7em !important;
}